.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button {
  border: 1px solid #000;
  font-weight: bold;
  cursor: pointer;
}

.accordian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 15px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.content {
  color: #ffffff;
  background: #694901;
  padding: 10px 20px;
  border-radius: 15px;
}
